<h1><%= @path.capitalize %></h1>

<p>Thank you for stopping by torybriggs.com. My name is Tory Briggs and I work as a web developer currently building an e-commerce platform in Ruby on Rails.  I received a degree in Computer Information Technology with a minor in Economics from Brigham Young University-Idaho. I've been married to my <a href="http://lannphotography.com">beautiful wife</a> since 2007 and we have two daughters. My interests include web development, graphic design, technology, video games and economics. I also curate the <a href="http://tthor.com">TThor Newsletter</a>.</p>

<p>torybriggs.com is produced entirely in <a href="http://macromates.com/">Notational Velocity</a>, <a href="http://macromates.com/">TextMate</a> and more recently <a href="http://www.barebones.com/products/bbedit/">BBedit</a>. The site is powered by a highly modified version of <a href="http://cloudhead.io/toto">Toto</a> and is hosted on <a href="http://heroku.com">Heroku</a>. I chose a baked approach vs. something dynamic like Wordpress. Everything is written in <a href="http://daringfireball.net/projects/markdown/">Markdown</a> and parsed with <a href="https://github.com/rtomayko/rdiscount">RDiscount</a>. If things don't display correctly you're probably using Internet Explorer.</p>

<p>My current hardware setup is very modest. I use a 3rd Generation Macbook (of the white plastic variety) when on the road. At home we have a 27" iMac i5 which my wife uses for photography and I use for gaming.</p>

<h3>What is torybriggs.com</h3>

<p>Here you will find original content written by me as well as links and quotes from around the interwebs. I wanted somewhere to keep the most <a href="https://pinboard.in/u:torybriggs">interesting and thoughtful</a> content I found and a website such as this fit that bill nicely.</p>

<p>Inspiration:</p>
<ul>
	<li><a href="http://shawnblanc.net/">Shawn Blanc</a></li>
	<li><a href="http://tightwind.net/">TightWind</a></li>
	<li><a href="http://daringfireball.net/">DaringFireball</a></li>
	<li><a href="http://hivelogic.com/">Hivelogic</a></li>
	<li><a href="http://43folders.com/">43 Folders</a></li>
	<li><a href="http://brooksreview.net/">The Brooks Review</a></li>
	<li><a href="http://smarterware.org/">Smarterware</a></li>
	<li><a href="http://cameronmoll.com/">Cameron Moll</a></li>
</ul>