<!doctype html>
<html>
  <head>
		<meta name="readability-verification" content="R2Q2wcGNBYVhYLMUx3uzbWn2QnsABuRuBLyhNnMk">
		<link href='http://fonts.googleapis.com/css?family=Raleway:100&v2' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="alternate" type="application/rss+xml" 
		title="torybriggs.com" href="http://feeds.feedburner.com/torybriggs" />
		<link rel="shortcut icon" href="/images/favicon.ico">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="description" content="<%= @context[:description] || 'A blog by Tory Briggs about the arts, technology, programming, gaming and entertainment.' %>">
    <title>
		<% if @path == 'index' %>
		    Tory Briggs
		<% elsif @path.split('/').compact.length == 4 %>
		    <%= title %> - Tory Briggs
		<% else %>
		    <%= @path.capitalize.gsub(/[-]/, ' ') %> - Tory Briggs
		<% end %>
		</title>
  </head>
  <body>
		<div id="wrapper">
			<header>
				<h1>
					<a href="/" title="torybriggs.com" alt="torybriggs.com" rel="home">
						torybriggs.com<br />
						</a>
						<span>the web, curated.</span>
					</h1>			
			</header>
			<a href="/colophon#beta-badge"><img id="beta" src="/images/sox-logo.png" alt="Red Sox" /></a>
			<div class="clear"></div>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li <%= ' class="active"' if @path == 'archives' %>>
						<a href="/archives">Archives</a>
					</li>
					<li <%= ' class="active"' if @path == 'colophon' %>>
						<a href="/colophon">Colophon</a>
					</li>
					<li <%= ' class="active"' if @path == 'contact' %>>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="http://feeds.feedburner.com/torybriggs">Subscribe</a>
					</li>
				</ul>
			</nav>
		
			<div class="clear"></div>
			<hr />
		
	    <section id="main">
	      <%= yield %> 
	    </section>
		
	    <footer>
	      <p>torybriggs.com &copy; 2011-present Tory Briggs | Please don't steal content, but by all means take the <a href="http://torybriggs.com/github/blog">source</a> | follow Tory <a href="http://twitter.com/torybriggs">on twitter</a></p>
	    </footer>
	
		</div>
		
		<!-- Gauges -->
		<script type="text/javascript">
		  (function() {
		    var t   = document.createElement('script');
		    t.type  = 'text/javascript';
		    t.async = true;
		    t.id    = 'gauges-tracker';
		    t.setAttribute('data-site-id', '4e280edb613f5d2a22000001');
		    t.src = '//secure.gaug.es/track.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(t, s);
		  })();
		</script>
		<!-- -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-6302917-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
		<script type="text/javascript">
		    var GoSquared={};
		    GoSquared.acct = "GSN-347686-J";
		    (function(w){
		        function gs(){
		            w._gstc_lt=+(new Date); var d=document;
		            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
		            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
		        }
		        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
		    })(window);
		</script>
  </body>
</html>

